extends layout

block content
  style.
    .navbar {
    width: 100%;
    position: fixed;
    top: 0;
    }
    body {
    /* Padding to prevent the content to go underneath the header */
    padding-top: 75px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ebebed;
    }
    span {
    color: blue;
    font-size: 24pt;
    font-weight: bolder;
    font-family: Monotype Corsiva;
    }
    a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    }
    .dropdown-menu {
    border: none;
    }
    .logout {
    color: white;
    font-size: 12pt;
    margin-left: 24px;
    }
    .listing-table {
    margin: 0 auto;
    }
    th {
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: condensed;
    width: 140px;
    }
    footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 10pt;
    text-align: center;
    }
  // LIST PRODUCTS
  table.listing-table.table-striped
    tr
      th Product Name:
      th Category:
      th Net Purchases:
      th Net Sales:
      th Closing Stock:
      th Cost of Sales:
      th Gross Profit:
      th Discontinued:
    each product in products
      tr
        td #{product.product_name}
        td #{product.category}}
        td #{product.net_purchases}
        td #{product.net_sales}
        td #{product.closing_stock}
        td #{product.cost_of_sales}
        td #{product.gross_profit_or_loss}
        td #{product.discontinued}
