<style>
  th {
    width: 106.5px;
    padding-left: 4.5%;
  }

  td {
    width: 106.5px;
    text-align: right;
    padding-right: 7.5%;
  }
</style>

<!-- LIST DEBTORS -->
<table class="listing-table table-striped">
  <tr>
    <th colspan="3">INVOICE</th>
  </tr>
  {{#each debtors}}
  <tr>
    <td><br></td>
    <td><br></td>
    <td><br></td>
  </tr>
  <tr>
    <th>TO:</th>
    <th style="padding-left: 0px" colspan="2">{{this.userId}}</th>
  </tr>
  <tr>
    <th colspan="3">{{this.product}}</th>
  </tr>
  <tr>
    <th style="font-weight: bolder">Quantity:</th>
    <th style="font-weight: bolder">Unit Cost:</th>
    <th style="font-weight: bolder">Total Cost:</th>
  </tr>
  <tr>
    <td>{{this.quantity}}</td>
    <td>{{this.unit_cost}}</td>
    <td>{{this.total_cost}}</td>
  </tr>
  <tr>
    <th style="font-weight: bolder">{{this.payment}}:</th>
    <td colspan="2">{{this.cumulative_payment}}</td>
  </tr>
  <tr>
    <th style="font-weight: bolder">Discount:</th>
    <td colspan="2">0</td>
  </tr>
  <tr>
    <th style="font-weight: bolder">Balance:</th>
    <td colspan="2" style="color: red">{{this.debtor}}</td>
  </tr>
  <tr>
    <td colspan="3">
      <a style="font-weight: bolder" href="/transactions/{{this._id}}"> new payment </a>
    </td>
  </tr>
  {{/each}}
</table>