<!-- FINANCE AND INVESTMENTS -->
<table class="listing-table table-striped">
  {{#each finance_and_investments}}
  <tr>
    <th colspan="2">FINANCE AND INVESTMENTS</th>
  </tr>
  <tr>
    <th>Equity:</th>
    <td>{{this.equity}}</td>
  <tr>
    <th>Loan:</th>
    <td>{{this.loan}}</td>
  </tr>
  <tr>
    <th>Fixed Assets:</th>
    <td>{{this.fixed_asset}}</td>
  </tr>
  <tr>
    <th>Business Expenses:</th>
    <td>{{this.business_expense}}</td>
  </tr>
  <tr>
    <th>Cash Withdrawn:</th>
    <td>{{this.cash_withdrawn}}</td>
  </tr>
  {{/each}}
</table>