<style>
  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
  }

  body {
    /* Padding to prevent the content to go underneath the header */
    padding-top: 75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ebebed;
  }

  span {
    color: #0000FF;
    font-size: 22pt;
    font-weight: lighter;
    font-family: Monotype Corsiva;
  }

  .dropdown-menu {
    border: none;
  }

  a,
  label {
    font-size: 11pt;
  }

  .listing-table {
    margin: 0 auto;
  }

  th {
    width: 160px;
    text-align: left;
    font-weight: lighter;
  }

  td {
    width: 160px;
    text-align: right;
  }

  .logout {
    border: none;
    font-size: 12pt;
    margin-left: 24px;
  }

  footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 12pt;
    text-align: center;
  }
</style>

<!-- FINANCE AND INVESTMENTS -->
<table class="listing-table table-striped">
  {{#each finance_and_investments}}
  <tr>
    <th colspan="2">FINANCE AND INVESTMENTS</th>
  </tr>
  <tr>
    <th>Equity:</th>
    <td>{{this.equity}}</td>
  </tr>
  <tr>
    <th>Loan:</th>
    <td>{{this.loan}}</td>
  </tr>
  <tr>
    <th>Fixed Assets:</th>
    <td>{{this.fixed_asset}}</td>
  </tr>
  <tr>
    <th>Business Expenses:</th>
    <td>{{this.business_expense}}</td>
  </tr>
  <tr>
    <th>Cash Withdrawn:</th>
    <td>{{this.cash_withdrawn}}</td>
  </tr>
  {{/each}}
</table>