<style>
  .navbar {
    display: none;
  }

  body {
    padding-top: 10px;
    background-image: url('WallpaperDog-860686.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
  }

  a {
    font-size: 12pt;
    font-weight: lighter;
  }

  form {
    text-align: center;
  }

  select {
    width: 140px;
    font-size: 12pt;
    color: #FFFFFF;
    background-color: #000000;
  }

  .search {
    border: none;
    color: #FFFFFF;
    background-color: #000000;
  }

  .select-option {
    display: none;
  }

  .cards {
    border: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 20px;
    text-align: center;
  }

  img {
    width: 100%;
    height: 50%;
  }

  footer {
    color: #000000;
  }
</style>

<form action="/">
  PRODUCT CATALOGUE
  <br />
  <select name="category">
    {{#each items.category}}
    <option class="select-option" value="">Select ...</option>
    <option value={{this}}>{{this}}</option>
    {{/each}}
  </select>
  <button class="search" type="submit">search <i class="fa fa-search" aria-hidden="true"></i></button>
</form>
<br />
<div class="cards">
  {{#each products}}
  <div>
    <img src={{this.file_name}} />
    <div class="card-title"><b>{{this.product_name}}</b></div>
    <div class="card-text">USh {{this.retail_price}} {{this.measurement}}</div>
    <a href="/items/{{this._id}}"> order </a>
  </div>
  {{/each}}
</div>