<style>
  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
  }

  body {
    /* Padding to prevent the content to go underneath the header */
    padding-top: 75px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ebebed;
  }

  span {
    color: blue;
    font-size: 24pt;
    font-weight: bolder;
    font-family: Monotype Corsiva;
  }

  a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
  }

  .dropdown-menu {
    border: none;
  }

  .logout {
    color: white;
    font-size: 12pt;
    margin-left: 24px;
  }

  .listing-table {
    margin: 0 auto;
  }

  th {
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: condensed;
    width: 140px;
  }

  footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 10pt;
    text-align: center;
  }
</style>

<!-- LIST PRODUCTS -->
<table class="listing-table table-striped">
  <tr>
    <th>Product Name:</th>
    <th>Category:</th>
    <th>Net Purchases:</th>
    <th>Net Sales:</th>
    <th>Closing Stock:</th>
    <th>Cost of Sales:</th>
    <th>Gross Profit:</th>
    <th>Discontinued:</th>
  </tr>
  {{#each products}}
  <tr>
    <td>{{this.product_name}}</td>
    <td>{{this.category}}</td>
    <td>{{this.net_purchases}}</td>
    <td>{{this.net_sales}}</td>
    <td>{{this.closing_stock}}</td>
    <td>{{this.cost_of_sales}}</td>
    <td>{{this.gross_profit_or_loss}}</td>
    <td>{{this.discontinued}}</td>
  </tr>
  {{/each}}
</table>