<style>
  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
  }

  body {
    /* Padding to prevent the content to go underneath the header */
    padding-top: 75px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ebebed;
  }

  span {
    color: blue;
    font-size: 24pt;
    font-weight: bolder;
    font-family: Monotype Corsiva;
  }

  a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
  }

  .dropdown-menu {
    border: none;
  }

  .logout {
    color: white;
    font-size: 12pt;
    margin-left: 24px;
  }

  .listing-table {
    margin: 0 auto;
  }

  th {
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: condensed;
    width: 106px;
    text-align: center;
  }

  td {
    width: 106px;
    text-align: center;
  }

  footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 10pt;
    text-align: center;
  }
</style>

<!-- LIST DEBTORS -->
<table class="listing-table table-striped">
  <tr>
    <th colspan="3">DEBTORS</th>
  </tr>
  {{#each debtors}}
  <tr>
    <td><br></td>
    <td><br></td>
    <td><br></td>
  </tr>
  <tr>
    <th>INVOICE TO:</th>
    <th colspan="2">{{this.userId}}</th>
  </tr>
  <tr>
    <td colspan="3">{{this.product}}</td>
  </tr>
  <tr>
    <th>Quantity:</th>
    <th>Unit Cost:</th>
    <th>Total Cost:</th>
  </tr>
  <tr>
    <td>{{this.quantity}}</td>
    <td>{{this.unit_cost}}</td>
    <td>{{this.total_cost}}</td>
  </tr>
  <tr>
    <th></th>
    <th>{{this.payment}}:</th>
    <td>{{this.initial_payment}}</td>
  </tr>
  <tr>
    <th></th>
    <th>Balance:</th>
    <td>{{this.debtor}}</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><a href="/transactions/{{this._id}}"> Open </a></td>
  </tr>
  {{/each}}
</table>