<style>
  body {
    /* Padding to prevent the content to go underneath the header */
    padding-top: 75px;
    font-family: Courier;
    background-color: #ebebed;
  }

  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
  }

  span {
    color: black;
    font-size: 18pt;
  }

  .logout {
    color: red;
    font-size: 12pt;
  }

  form {
    text-align: center;
  }

  .listing-table {
    margin: 0 auto;
  }

  th {
    width: 150px;
  }

  footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
  }
</style>

<!-- LIST PRODUCTS -->
<table class="listing-table table-striped">
  <tr>
    <th>Product Name:</th>
    <th>Category:</th>
    <th>Purchases:</th>
    <th>Sales:</th>
    <th>Closing Stock:</th>
    <th>Cost of Sales:</th>
    <th>Gross Profit:</th>
    <th>Discontinued:</th>
  </tr>
  {{#each products}}
  <tr>
    <td>{{this.product_name}}</td>
    <td>{{this.category}}</td>
    <td>{{this.purchases}}</td>
    <td>{{this.sales}}</td>
    <td>{{this.closing_stock}}</td>
    <td>{{this.cost_of_sales}}</td>
    <td>{{this.gross_profit}}</td>
    <td>{{this.discontinued}}</td>
  </tr>
  {{/each}}
</table>