<style>
  .transaction {
    display: none;
  }
</style>

<div class="flex-container">
  <!-- PAY OFF DEBT FORM -->
  <form class="payment" method="POST" action="/payments/new" onsubmit="handleSubmit()">
    <fieldset>
      <legend>Pay off debt</legend>
      <input id="user_id" type="hidden" name="user_id" readonly /><br />
      <input id="payment_date" type="hidden" name="payment_date" readonly />
      <label>Later Payment:</label><br />
      <input id="later_payment" type="text" name="later_payment" required /><br />
      <button class="btn btn-success submit" type="submit">Save <i class="fa fa-save"></i></button><br />
    </fieldset>
  </form>

  <!-- TRANSACTION FORM -->
  <form class="transaction" method="POST" action="/transactions/new" onsubmit="handleTransactionSubmit()">
    <input type="hidden" name="_id" value="{{transaction._id}}">
    <fieldset>
      <legend></legend><br />
      <input id="transaction_type" type="hidden" name="transaction_type" value="{{transaction.transaction_type}}"
        readonly />
      <input id="product" type="hidden" name="product" value="{{transaction.product}}" readonly />
      <input id="quantity" type="hidden" name="quantity" value="{{transaction.quantity}}" readonly />
      <input id="unit_cost" type="hidden" name="unit_cost" value="{{transaction.unit_cost}}" readonly />
      <input id="total_cost" type="hidden" name="total_cost" value="{{transaction.total_cost}}" readonly />
      <input id="payment" type="hidden" name="payment" value="{{transaction.payment}}" readonly />
      <input id="initial_payment" type="hidden" name="initial_payment" value="{{transaction.initial_payment}}"
        readonly />
      <input id="creditor" type="hidden" name="creditor" value="{{transaction.creditor}}" readonly />
      <input id="debtor" type="hidden" name="debtor" value="{{transaction.debtor}}" readonly />
      <input id="transaction_note" type="hidden" name="transaction_note" value="{{transaction.transaction_note}}"
        readonly />
      <input id="userId" type="hidden" name="userId" value="{{transaction.userId}}" readonly />
      <input id="transaction_date" type="hidden" name="transaction_date" value="{{transaction.transaction_date}}"
        readonly />
      <button class="btn btn-success conclude" type="submit">Conclude Payment</button><br />
    </fieldset>
  </form>
</div>

<script type="text/javascript">

  const handleSubmit = () => {
    // user_id == transaction.userId
    document.getElementById('user_id').value = "{{transaction.userId}}";

    // Insert Date automatically
    document.getElementById('payment_date').value = Date();

    // Creditor, Debtor
    if (document.getElementById('transaction_type').value == "Purchases")
      document.getElementById('creditor').value = Number(document.getElementById('creditor').value) - Number(document.getElementById('later_payment').value);
    if (document.getElementById('transaction_type').value == "Sales")
      document.getElementById('debtor').value = Number(document.getElementById('debtor').value) - Number(document.getElementById('later_payment').value);

    // Hide the Payment Form
    $('.payment').css('display', 'none');
    // Display the Transaction Form
    $('.transaction').css('display', 'inline');
  }

  const handleTransactionSubmit = () => {
    // Hide the Conclude Payment button
    $('.conclude').css('display', 'none');
  }

</script>