<style>
  body {
    /* Padding to prevent the content to go underneath the header */
    padding-top: 75px;
    font-family: Courier;
    background-color: #ebebed;
  }

  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
  }

  span {
    color: blue;
    font-size: 24pt;
    font-weight: bolder;
    font-family: Monotype Corsiva;
  }

  a {
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: condensed;
  }

  .dropdown-menu {
    border: none;
  }

  .btn-danger {
    border: none;
  }

  .logout {
    color: white;
    font-size: 12pt;
    text-align: right;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
  }

  form {
    flex: 50%;
    text-align: center;
  }

  /* Responsive layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

  legend,
  label {
    color: orange;
    margin-bottom: 0;
  }

  input[type="text"] {
    width: 290px;
    padding: 0.75%;
    margin-bottom: 5px;
    font-size: 12pt;
    border: 1px solid grey;
  }

  .submit {
    width: 290px;
    border: none;
  }

  .btn-transaction {
    display: none;
  }

  footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
  }
</style>

<div class="flex-container">

  <!-- PAY OFF DEBT FORM -->
  <form class="payment" method="POST" action="/payments" onsubmit="paymentForm()">
    <fieldset>
      <legend>Pay off debt</legend><br /><label>Payment Date:</label><br /><input id="payment_date" type="text"
        name="payment_date" readonly /><br /><label>Later Payment:</label><br /><input id="later_payment" type="text"
        name="later_payment" required /><br /><button class="btn btn-success submit btn-debt"
        type="submit">Save</button><br />
      <span id="msg"></span>
    </fieldset>
  </form>

  <!-- TRANSACTION FORM -->
  <form method="POST" action="/transactions">
    <input type="hidden" name="_id" value="{{transaction._id}}">
    <fieldset>
      <legend>Transaction</legend><br /><label>Transaction Type:</label><br /><input id="transaction_type" type="text"
        name="transaction_type" value="{{transaction.transaction_type}}"
        readonly /><br /><label>Product:</label><br /><input id="product" type="text" name="product"
        value="{{transaction.product}}" readonly /><br /><label>Quantity:</label><br /><input id="quantity" type="text"
        name="quantity" value="{{transaction.quantity}}" readonly /><br /><label>Unit
        Cost:</label><br /><input id="unit_cost" type="text" name="unit_cost" value="{{transaction.unit_cost}}"
        readonly /><br /><label>Total
        Cost:</label><br /><input id="total_cost" type="text" name="total_cost" value="{{transaction.total_cost}}"
        readonly /><br /><label>Payment:</label><br /><input id="payment" type="text" name="payment"
        value="{{transaction.payment}}" readonly /><br /><label>Initial Payment:</label><br /><input
        id="initial_payment" type="text" name="initial_payment" value="{{transaction.initial_payment}}"
        readonly /><br /><label>Balance:</label><br /><input id="balance" type="text" name="balance"
        value="{{transaction.balance}}" readonly /><input id="transaction_note" type="hidden" name="transaction_note"
        value="{{transaction.transaction_note}}" readonly /><br /><input id="witness" type="hidden" name="witness"
        value="{{transaction.witness}}" readonly /><input id="transaction_date" type="hidden" name="transaction_date"
        value="{{transaction.transaction_date}}" readonly /><button class="btn btn-success submit btn-transaction"
        type="submit">Conclude
        Payment</button><br />
    </fieldset>
  </form>

</div>

<script type="text/javascript">

  const paymentForm = () => {
    // insert date automatically
    document.getElementById('payment_date').value = Date();
    // balance after payment(Issued, Received)
    document.getElementById('balance').value = Number(document.getElementById('balance').value) - Number(document.getElementById('later_payment').value);

    // transaction_note for credit Purchase or credit Sale
    if (document.getElementById('balance').value > 0)
      document.getElementById('transaction_note').value = 'Debt';
    else
      document.getElementById('transaction_note').value = 'No Debt';

    // hide the form
    $('.payment').css('display', 'none');
    // display the button
    $('.btn-transaction').css('display', 'inline');
  }

</script>