<style>
  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
  }

  body {
    /* Padding to prevent the content to go underneath the header */
    padding-top: 75px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ebebed;
  }

  span {
    color: blue;
    font-size: 22pt;
    font-weight: bolder;
    font-family: Monotype Corsiva;
  }

  .dropdown-menu {
    border: none;
  }

  a,
  label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
  }

  form {
    margin: 0 auto;
  }

  legend {
    text-align: center;
    color: grey;
  }

  label {
    color: grey;
    margin-bottom: 0;
  }

  input[type="text"],
  input[type="email"],
  input[type="url"],
  select {
    width: 290px;
    padding: 0.75%;
    margin-bottom: 5px;
    font-size: 14pt;
    border: none;
  }

  .logout {
    color: white;
    font-size: 12pt;
    margin-left: 24px;
  }

  .transaction {
    display: none;
  }

  .submit {
    width: 290px;
    border: none;
  }

  /* Responsive layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

  footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 10pt;
    text-align: center;
  }
</style>

<div class="flex-container">
  <!-- PAY OFF DEBT FORM -->
  <form class="payment" method="POST" action="/payments" onsubmit="submitPayment()">
    <fieldset>
      <legend>Pay off debt</legend><input id="user_id" type="hidden" name="user_id" readonly /><br /><input
        id="payment_date" type="hidden" name="payment_date" readonly /><label>Later Payment:</label><br /><input
        id="later_payment" type="text" name="later_payment" required /><br /><button class="btn btn-success submit"
        type="submit">Save</button><br />
      <span id="msg"></span>
    </fieldset>
  </form>

  <!-- TRANSACTION FORM -->
  <form class="transaction" method="POST" action="/transactions">
    <input type="hidden" name="_id" value="{{transaction._id}}">
    <fieldset>
      <legend>Transaction</legend><br /><label>Transaction Type:</label><br /><input id="transaction_type" type="text"
        name="transaction_type" value="{{transaction.transaction_type}}"
        readonly /><br /><label>Product:</label><br /><input id="product" type="text" name="product"
        value="{{transaction.product}}" readonly /><br /><label>Quantity:</label><br /><input id="quantity" type="text"
        name="quantity" value="{{transaction.quantity}}" readonly /><br /><label>Unit
        Cost:</label><br /><input id="unit_cost" type="text" name="unit_cost" value="{{transaction.unit_cost}}"
        readonly /><br /><label>Total
        Cost:</label><br /><input id="total_cost" type="text" name="total_cost" value="{{transaction.total_cost}}"
        readonly /><br /><label>Payment:</label><br /><input id="payment" type="text" name="payment"
        value="{{transaction.payment}}" readonly /><br /><label>Initial Payment:</label><br /><input
        id="initial_payment" type="text" name="initial_payment" value="{{transaction.initial_payment}}"
        readonly /><br /><label>Debt:</label><br /><input id="debt" type="text" name="debt" value="{{transaction.debt}}"
        readonly /><input id="transaction_note" type="hidden" name="transaction_note"
        value="{{transaction.transaction_note}}" readonly /><br /><input id="userId" type="hidden" name="userId"
        value="{{transaction.userId}}" readonly /><input id="transaction_date" type="hidden" name="transaction_date"
        value="{{transaction.transaction_date}}" readonly /><button class="btn btn-success submit"
        type="submit">Conclude
        Payment</button><br />
    </fieldset>
  </form>
</div>

<script type="text/javascript">

  const submitPayment = () => {
    // user_id == transaction.userId
    document.getElementById('user_id').value = "{{transaction.userId}}";

    // Insert Date automatically
    document.getElementById('payment_date').value = Date();

    // Debt
    document.getElementById('debt').value = Number(document.getElementById('debt').value) - Number(document.getElementById('later_payment').value);

    // Transaction Note: Creditor, or Debtor
    if ((document.getElementById('transaction_type').value == "Purchases") && (document.getElementById('debt').value > 0))
      document.getElementById('transaction_note').value = 'Creditor';
    if ((document.getElementById('transaction_type').value == "Purchases") && (document.getElementById('debt').value == 0))
      document.getElementById('transaction_note').value = 'No Debt';
    if ((document.getElementById('transaction_type').value == "Purchases") && (document.getElementById('debt').value < 0))
      document.getElementById('transaction_note').value = 'No Debt';
    if ((document.getElementById('transaction_type').value == "Sales") && (document.getElementById('debt').value > 0))
      document.getElementById('transaction_note').value = 'Debtor';
    if ((document.getElementById('transaction_type').value == "Sales") && (document.getElementById('debt').value == 0))
      document.getElementById('transaction_note').value = 'No Debt';
    if ((document.getElementById('transaction_type').value == "Sales") && (document.getElementById('debt').value < 0))
      document.getElementById('transaction_note').value = 'No Debt';

    // Hide the Payment Form
    $('.payment').css('display', 'none');
    // Display the Transaction Form
    $('.transaction').css('display', 'inline');
  }

</script>