<style>
  body {
    /* Padding to prevent the content to go underneath the header */
    padding-top: 75px;
    font-family: Courier;
  }

  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
  }

  span {
    color: black;
    font-size: 18pt;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
  }

  form {
    flex: 50%;
    text-align: center;
  }

  /* Responsive layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

  legend,
  label,
  h6 {
    color: orange;
    margin-bottom: 0;
  }

  input[type="text"],
  input[type="date"],
  input[type="email"],
  input[type="url"],
  select {
    width: 290px;
    padding: 0.75%;
    margin-bottom: 5px;
    font-size: 12pt;
    border: 1px solid grey;
  }

  .submit {
    border: none;
  }
</style>

<div class="flex-container">

  <!-- CUSTOMER FORM -->
  <form class="customer" method="POST" action="/customers" oninput="customerName()" onsubmit="customerForm()">
    <fieldset>
      <legend>Customer</legend><br /><label>Customer Name:</label><br /><input id="customer_name" type="text"
        name="customer_name" required /><br /><label>Country:</label><br /><input id="country" type="text"
        name="country" required /><br /><label>City/Town:</label><br /><input id="city" type="text" name="city"
        required /><br /><label>Street:</label><br /><input id="street" type="text" name="street"
        required /><br /><label>Address:</label><br /><input id="address" type="text" name="address"
        required /><br /><label>Telephone:</label><br /><input id="telephone" type="text" name="telephone"
        required /><br /><label>Email:</label><br /><input id="email" type="email" name="email"
        required /><br /><label>Website: </label><br /><input id="website" type="url" name="website" /><br /><button
        class="btn btn-success submit btn-customer" type="submit" onclick="supplier()">Save</button><br />
      <span id="msg"></span>
    </fieldset>
  </form>

  <!-- TRANSACTION FORM -->
  <form class="transaction" method="POST" action="/transactions" oninput="runTransaction()"
    onsubmit="transactionForm()">
    <fieldset>
      <legend>Transaction</legend><br /><label>Transaction Type:</label><br /><select id="transaction_type"
        name="transaction_type">
        <option value="Purchase">PURCHASE</option>
        <option value="Sale">SALE</option>
      </select><br /><label>Transaction
        Note:</label><br /><select id="transaction_note" name="transaction_note">
        <option value="cash purchase">cash purchase</option>
        <option value="credit purchase">credit purchase</option>
        <option value="cash sale">cash sale</option>
        <option value="credit sale">credit sale</option>
      </select><br /><label>Product:</label><br /><input id="product" type="text" name="product"
        readonly /><br /><label>Units
        Transacted:</label><br /><input id="units_transacted" type="text" name="units_transacted" /><br /><label>Unit
        value:</label><br /><input id="unit_value" type="text" name="unit_value" /><br /><label>Total
        Value:</label><br /><input id="total_value" type="text"
        name="total_value" /><br /><label>Witness:</label><br /><input id="witness" type="text" name="witness"
        readonly /><br /><button class="btn btn-success submit btn-transaction" type="submit">Save</button><br />
    </fieldset>
  </form>

  <!-- PRODUCT FORM -->
  <form method="POST" action="/products" onsubmit="productForm()">
    <input type="hidden" name="_id" value="{{product._id}}">
    <fieldset>
      <legend>Product</legend><br /><label>Supplier Name:</label><br /><input id="supplied_by" type="text"
        name="supplied_by" value="{{product.supplied_by}}" readonly /><br /><label>Product Name:</label><br /><input
        id="product_name" type="text" name="product_name" value="{{product.product_name}}"
        readonly /><br /><label>Category:</label><br /><input id="category" type="text" name="category"
        value="{{product.category}}" readonly /><br /><label>Retail Price:</label><br /><input id="retail_price"
        type="text" name="retail_price" value="{{product.retail_price}}" readonly /><br /><label>Units
        Received:</label><br /><input id="units_received" type="text" name="units_received"
        value="{{product.units_received}}" readonly /><br /><label>Value Received:</label><br /><input
        id="value_received" type="text" name="value_received" value="{{product.value_received}}"
        readonly /><br /><label>Units
        Issued:</label><br /><input id="units_issued" type="text" name="units_issued" value="{{product.units_issued}}"
        readonly /><br /><label>Value Issued:</label><br /><input id="value_issued" type="text" name="value_issued"
        value="{{product.value_issued}}" readonly /><br /><label>Units Instock:</label><br /><input id="units_instock"
        type="text" name="units_instock" value="{{product.units_instock}}" readonly /><br /><label>Value
        Instock:</label><br /><input id="value_instock" type="text" name="value_instock"
        value="{{product.value_instock}}" readonly /><br /><label>Sales Cost: </label><br /><input id="sales_cost"
        type="text" name="sales_cost" value="{{product.sales_cost}}" readonly /><br /><label>Gross Profit:
      </label><br /><input id="gross_profit" type="text" name="gross_profit" value="{{product.gross_profit}}"
        readonly /><br /><label>Discontinue:
      </label><br /><input id="discontinue" type="text" name="discontinue" value="{{product.discontinue}}"
        readonly /><br /><button class="btn btn-success submit btn-product" type="submit">Save</button><br />
    </fieldset>
  </form>

</div>

<script type="text/javascript">

  // field witness == field customer_name
  const customerName = () => {
    document.getElementById('witness').value = document.getElementById('customer_name').value;
  }

  // manage transactions
  const runTransaction = () => {
    document.getElementById('product').value = document.getElementById('product_name').value;

    // total_value
    if (document.getElementById('transaction_type').value == "Sale")
      document.getElementById('total_value').value = Number(document.getElementById('units_transacted').value) * Number(document.getElementById('unit_value').value);

    if ((document.getElementById('transaction_type').value == "Sale") && (document.getElementById('customer_name').value == ""))
      document.getElementById('transaction_type').value = "Purchase";

    // disable the select field
    $('#transaction_type').prop('disabled', true);

    // witness the transaction
    if (document.getElementById('transaction_type').value == "Purchase")
      document.getElementById('witness').value = document.getElementById('supplied_by').value;
    else
      document.getElementById('witness').value = document.getElementById('customer_name').value;

    // unit_value for transaction
    if (document.getElementById('transaction_type').value == "Sale")
      document.getElementById('unit_value').value = document.getElementById('retail_price').value;
    else
      document.getElementById('unit_value').value = document.getElementById('total_value').value / document.getElementById('units_transacted').value;
  }

  const productForm = () => {
    // units transacted
    if (document.getElementById('transaction_type').value == "Purchase")
      document.getElementById('units_received').value = Number(document.getElementById('units_received').value) + Number(document.getElementById('units_transacted').value);
    else
      document.getElementById('units_issued').value = Number(document.getElementById('units_issued').value) + Number(document.getElementById('units_transacted').value);

    // value transacted
    if (document.getElementById('transaction_type').value == "Purchase")
      document.getElementById('value_received').value = Number(document.getElementById('value_received').value) + Number(document.getElementById('total_value').value);
    else
      document.getElementById('value_issued').value = Number(document.getElementById('value_issued').value) + Number(document.getElementById('total_value').value);

    // units instock
    document.getElementById('units_instock').value = Number(document.getElementById('units_received').value) - Number(document.getElementById('units_issued').value);

    // value instock
    if (document.getElementById('transaction_type').value == "Purchase")
      document.getElementById('value_instock').value = Number(document.getElementById('value_instock').value) + Number(document.getElementById('total_value').value);
    if (document.getElementById('transaction_type').value == "Sale")
      document.getElementById('value_instock').value = Number(document.getElementById('units_instock').value) * Number(document.getElementById('value_instock').value) / (Number(document.getElementById('units_instock').value) + Number(document.getElementById('units_transacted').value));

    // sales cost
    document.getElementById('sales_cost').value = Number(document.getElementById('value_received').value) - Number(document.getElementById('value_instock').value);

    // gross profit
    document.getElementById('gross_profit').value = Number(document.getElementById('value_issued').value) - Number(document.getElementById('value_received').value) + Number(document.getElementById('value_instock').value);

    // hide the button
    $('.btn-product').css('display', 'none');
  }

  const customerForm = () => {
    // hide the button
    $('.btn-customer').css('display', 'none');
  }

  const transactionForm = () => {
    // hide the button
    $('.btn-transaction').css('display', 'none');
  }

</script>