<style>
  body {
    /* Padding to prevent the content to go underneath the header */
    padding-top: 75px;
    font-family: Courier;
    background-color: #ebebed;
  }

  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
  }

  span {
    color: black;
    font-size: 18pt;
  }

  .logout {
    color: red;
    font-size: 12pt;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
  }

  form {
    flex: 50%;
    text-align: center;
  }

  /* Responsive layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

  legend,
  label,
  h6 {
    color: orange;
    margin-bottom: 0;
  }

  input[type="text"],
  input[type="date"],
  input[type="email"],
  input[type="url"],
  select {
    width: 290px;
    padding: 0.75%;
    margin-bottom: 5px;
    font-size: 12pt;
    border: 1px solid grey;
  }

  .submit {
    width: 290px;
    border: none;
  }

  .btn-customer,
  .btn-transaction,
  .btn-product {
    display: none;
  }

  footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
  }
</style>

<div class="flex-container">

  <!-- CUSTOMER FORM -->
  <form class="customer" method="POST" action="/customers" oninput="customerName()" onsubmit="customerForm()">
    <fieldset>
      <legend>Customer</legend><br /><label>Customer Name:</label><br /><input id="customer_name" type="text"
        name="customer_name" required /><br /><label>Country:</label><br /><input id="country" type="text"
        name="country" required /><br /><label>City/Town:</label><br /><input id="city" type="text" name="city"
        required /><br /><label>Street:</label><br /><input id="street" type="text" name="street"
        required /><br /><label>Address:</label><br /><input id="address" type="text" name="address"
        required /><br /><label>Telephone:</label><br /><input id="telephone" type="text" name="telephone"
        required /><br /><label>Email:</label><br /><input id="email" type="email" name="email"
        required /><br /><label>Website: </label><br /><input id="website" type="url" name="website" /><br /><button
        class="btn btn-success submit btn-customer" type="submit">Save</button><br />
      <span id="msg"></span>
    </fieldset>
  </form>

  <!-- TRANSACTION FORM -->
  <form class="transaction" method="POST" action="/transactions" oninput="runTransaction()"
    onsubmit="transactionForm()">
    <fieldset>
      <legend>Transaction</legend><br /><label>Transaction Type:</label><br /><select id="transaction_type"
        name="transaction_type">
        <option value="">SELECT...</option>
        <option value="Purchases">PURCHASES</option>
        <option value="Sales">SALES</option>
        <option value="Drawings">DRAWINGS</option>
        <option value="Purchases Returns">PURCHASES RETURNS</option>
        <option value="Sales Returns">SALES RETURNS</option>
      </select><br /><label>Transaction
        Note:</label><br /><select id="transaction_note" name="transaction_note">
        <option value="cash purchase">cash</option>
        <option value="credit purchase">credit</option>
        <option value="cash sale">private use</option>
      </select><br /><label>Product:</label><br /><input id="product" type="text" name="product"
        readonly /><br /><label>Quantity:
      </label><br /><input id="quantity" type="text" name="quantity" /><br /><label>Unit
        Cost:</label><br /><input id="unit_cost" type="text" name="unit_cost" /><br /><label>Total
        Cost:</label><br /><input id="total_cost" type="text" name="total_cost"
        required /><br /><label>Witness:</label><br /><input id="witness" type="text" name="witness"
        readonly /><br /><label>Transaction
        Date:</label><br /><input id="transaction_date" type="text" name="transaction_date"
        value="{{product.transaction_date}}" readonly /><br /><button class="btn btn-success submit btn-transaction"
        type="submit">Save</button><br />
    </fieldset>
  </form>

  <!-- PRODUCT FORM -->
  <form method="POST" action="/products" onsubmit="productForm()">
    <input type="hidden" name="_id" value="{{product._id}}">
    <fieldset>
      <legend>Product</legend><br /><label><input id="supplied_by" type="hidden" name="supplied_by"
          value="{{product.supplied_by}}" readonly /><input id="product_name" type="hidden" name="product_name"
          value="{{product.product_name}}" readonly /><input id="category" type="hidden" name="category"
          value="{{product.category}}" readonly /><label>Retail Price:</label><br /><input id="retail_price" type="text"
          name="retail_price" value="{{product.retail_price}}" /><input id="quantity_purchased" type="hidden"
          name="quantity_purchased" value="{{product.quantity_purchased}}" readonly /><input id="purchases"
          type="hidden" name="purchases" value="{{product.purchases}}" readonly /><input id="quantity_sold"
          type="hidden" name="quantity_sold" value="{{product.quantity_sold}}" readonly /><input id="sales"
          type="hidden" name="sales" value="{{product.sales}}" readonly /><br /><input id="quantity_instock"
          type="hidden" name="quantity_instock" value="{{product.quantity_instock}}" readonly /><input
          id="closing_stock" type="hidden" name="closing_stock" value="{{product.closing_stock}}" readonly /><input
          id="cost_of_sales" type="hidden" name="cost_of_sales" value="{{product.cost_of_sales}}" readonly /><input
          id="gross_profit" type="hidden" name="gross_profit" value="{{product.gross_profit}}"
          readonly /><label>Discontinued:</label><br /><input id="discontinued" type="text" name="discontinued"
          value="{{product.discontinued}}" /><br /><label>Created
          At:</label><br /><input id="created_at" type="text" name="created_at" value="{{product.created_at}}"
          readonly /><br /><label>Updated At:</label><br /><input id="updated_at" type="text" name="updated_at"
          value="{{product.updated_at}}" readonly /><br /><button class="btn btn-success submit btn-product"
          type="submit">Conclude
          Transaction</button><br />
    </fieldset>
  </form>

</div>

<script type="text/javascript">

  // field witness == field customer_name
  const customerName = () => {
    document.getElementById('witness').value = document.getElementById('customer_name').value;
  }

  // manage transactions
  const runTransaction = () => {
    // insert product automatically
    document.getElementById('product').value = document.getElementById('product_name').value;
    
    // insert date automatically
    document.getElementById('transaction_date').value = Date();
    document.getElementById('updated_at').value = document.getElementById('transaction_date').value;

    // total_cost
    if (document.getElementById('transaction_type').value == "Sales")
      document.getElementById('total_cost').value = Number(document.getElementById('quantity').value) * Number(document.getElementById('unit_cost').value);

    // disable the select field(transaction_type)
    $('#transaction_type').prop('disabled', true);

    // witness the transaction
    if (document.getElementById('transaction_type').value == "Purchases")
      document.getElementById('witness').value = document.getElementById('supplied_by').value;
    else
      document.getElementById('witness').value = document.getElementById('customer_name').value;

    // unit_cost for transaction
    if (document.getElementById('transaction_type').value == "Sales")
      document.getElementById('unit_cost').value = document.getElementById('retail_price').value;
    else
      document.getElementById('unit_cost').value = document.getElementById('total_cost').value / document.getElementById('quantity').value;

    //
    if ((document.getElementById('transaction_type').value == "Purchases") || (document.getElementById('transaction_type').value == "Purchases Returns"))
      // display the button
      $('.btn-transaction').css('display', 'inline');

    //
    if ((document.getElementById('transaction_type').value == "Sales") || (document.getElementById('transaction_type').value == "Sales Returns"))
      // display the button
      $('.btn-customer').css('display', 'inline');

    //
    if (document.getElementById('customer_name').value != "")
      // hide the button
      $('.btn-customer').css('display', 'none');
  }

  const productForm = () => {
    // Purchases and Sales -- quantity(quantity_purchased, quantity_sold)
    if (document.getElementById('transaction_type').value == "Purchases")
      document.getElementById('quantity_purchased').value = Number(document.getElementById('quantity_purchased').value) + Number(document.getElementById('quantity').value);
    if (document.getElementById('transaction_type').value == "Sales")
      document.getElementById('quantity_sold').value = Number(document.getElementById('quantity_sold').value) + Number(document.getElementById('quantity').value);
    if (document.getElementById('transaction_type').value == "Purchases Returns")
      document.getElementById('quantity_purchased').value = Number(document.getElementById('quantity_purchased').value) - Number(document.getElementById('quantity').value);
    if (document.getElementById('transaction_type').value == "Sales Returns")
      document.getElementById('quantity_sold').value = Number(document.getElementById('quantity_sold').value) - Number(document.getElementById('quantity').value);
    if (document.getElementById('transaction_type').value == "Drawings")
      document.getElementById('quantity_purchased').value = Number(document.getElementById('quantity_purchased').value) - Number(document.getElementById('quantity').value);

    // Purchases and Sales -- total value(total_cost)
    if (document.getElementById('transaction_type').value == "Purchases")
      document.getElementById('purchases').value = Number(document.getElementById('purchases').value) + Number(document.getElementById('total_cost').value);
    if (document.getElementById('transaction_type').value == "Sales")
      document.getElementById('sales').value = Number(document.getElementById('sales').value) + Number(document.getElementById('total_cost').value);
    if (document.getElementById('transaction_type').value == "Purchases Returns")
      document.getElementById('purchases').value = Number(document.getElementById('purchases').value) - Number(document.getElementById('total_cost').value);
    if (document.getElementById('transaction_type').value == "Sales Returns")
      document.getElementById('sales').value = Number(document.getElementById('sales').value) - Number(document.getElementById('total_cost').value);

    // Drawings
    //if (document.getElementById('transaction_type').value == "Drawings")
    //document.getElementById('purchases').value = Number(document.getElementById('purchases').value) - Number(document.getElementById('total_cost').value);

    // Units Instock
    document.getElementById('quantity_instock').value = Number(document.getElementById('quantity_purchased').value) - Number(document.getElementById('quantity_sold').value);

    // Closing Stock
    if (document.getElementById('transaction_type').value == "Purchases")
      document.getElementById('closing_stock').value = Number(document.getElementById('closing_stock').value) + Number(document.getElementById('total_cost').value);
    if (document.getElementById('transaction_type').value == "Sales")
      document.getElementById('closing_stock').value = Number(document.getElementById('quantity_instock').value) * Number(document.getElementById('closing_stock').value)
        / (Number(document.getElementById('quantity_instock').value) + Number(document.getElementById('quantity').value));

    // Sales Cost
    document.getElementById('cost_of_sales').value = Number(document.getElementById('purchases').value) - Number(document.getElementById('closing_stock').value);

    // Gross Profit
    document.getElementById('gross_profit').value = Number(document.getElementById('sales').value) - Number(document.getElementById('cost_of_sales').value);
  }

  const customerForm = () => {
    // hide the button
    $('.btn-customer').css('display', 'none');

    // display the button
    $('.btn-transaction').css('display', 'inline');
  }

  const transactionForm = () => {
    // hide the button
    $('.btn-transaction').css('display', 'none');

    // display the button
    $('.btn-product').css('display', 'inline');
  }

</script>