<style>
  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
  }

  body {
    /* Padding to prevent the content to go underneath the header */
    padding-top: 75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ebebed;
  }

  span {
    color: #0000FF;
    font-size: 22pt;
    font-weight: lighter;
    font-family: Monotype Corsiva;
  }

  .dropdown-menu {
    border: none;
  }

  a,
  label {
    font-size: 11pt;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
  }

  form {
    margin: 0 auto;
  }

  legend {
    text-align: center;
    color: grey;
  }

  label {
    color: grey;
    margin-bottom: 0;
  }

  input[type="text"],
  input[type="email"],
  input[type="url"],
  select {
    width: 290px;
    padding: 0.75%;
    margin-bottom: 5px;
    font-size: 14pt;
    border: none;
  }

  input[name='payment'] {
    background-color: #ebebed;
  }

  #creditor,
  #debtor,
  #goods_withdrawn,
  .product,
  .select-option {
    display: none;
  }

  .logout {
    border: none;
    font-size: 12pt;
    margin-left: 24px;
  }

  .submit {
    width: 25%;
  }

  .select-item {
    width: 290px;
    border: none;
  }

  /* Responsive layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

  footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 12pt;
    text-align: center;
  }
</style>

<div class="flex-container">
  <!-- TRADING FORM -->
  <form class="transaction" method="POST" action="/transactions/new" oninput="handleInput()" onsubmit="handleSubmit()">
    <input type="hidden" name="_id">
    <fieldset>
      <legend>Trading Activities</legend><br />
      <label>Transaction Type:</label><br />
      <select id="transaction_type" name="transaction_type" required>
        <option value="">Select ...</option>
        <option value="Purchases">Purchases</option>
        <option value="Sales">Sales</option>
        <option value="Goods Withdrawn">Goods Withdrawn</option>
        <option value="Purchases Returns">Purchases Returns</option>
        <option value="Sales Returns">Sales Returns</option>
      </select><br />
      <label>Product:</label><br /><input id="product" type="text" name="product" readonly /><br />
      <label>Quantity:</label><br /><input id="quantity" type="text" name="quantity" /><br />
      <label>Unit Cost:</label><br /><input id="unit_cost" type="text" name="unit_cost" /><br />
      <label>Total Cost:</label><br /><input id="total_cost" type="text" name="total_cost" readonly /><br />
      <input id="payment" type="text" name="payment" readonly /><br />
      <label>Initial Payment:</label><br /><input id="initial_payment" type="text" name="initial_payment"
        required /><br />
      <label>Debt:</label><br />
      <input id="creditor" type="text" name="creditor" readonly />
      <input id="debtor" type="text" name="debtor" readonly />
      <input id="goods_withdrawn" type="text" name="goods_withdrawn" readonly /><br />
      <select id="userId" name="userId" required>
        {{#each users}}
        <option class="select-option" value="">Select ...</option>
        <option value={{this._id}}>{{this.name}}</option>
        {{/each}}
      </select>
      <input id="transaction_date" type="hidden" name="transaction_date" readonly /><br />
      <button class="btn btn-success submit" type="submit">Save <i class="fa fa-save"></i></button><br />
    </fieldset>
  </form>

  <!-- PRODUCT FORM -->
  <form class="product" method="POST" action="/products/new" onsubmit="handleProductSubmit()">
    <input type="hidden" name="_id" value="{{product._id}}">
    <fieldset>
      <legend></legend><br />
      <input id="user_id" type="hidden" name="user_id" value="{{product.user_id}}" readonly />
      <input id="product_name" type="hidden" name="product_name" value="{{product.product_name}}" readonly />
      <input id="category" type="hidden" name="category" value="{{product.category}}" readonly />
      <input id="retail_price" type="hidden" name="retail_price" value="{{product.retail_price}}" readonly />
      <input id="quantity_purchased" type="hidden" name="quantity_purchased" value="{{product.quantity_purchased}}"
        readonly />
      <input id="net_purchases" type="hidden" name="net_purchases" value="{{product.net_purchases}}" readonly />
      <input id="quantity_sold" type="hidden" name="quantity_sold" value="{{product.quantity_sold}}" readonly />
      <input id="net_sales" type="hidden" name="net_sales" value="{{product.net_sales}}" readonly />
      <input id="quantity_instock" type="hidden" name="quantity_instock" value="{{product.quantity_instock}}"
        readonly />
      <input id="closing_stock" type="hidden" name="closing_stock" value="{{product.closing_stock}}" readonly />
      <input id="cost_of_sales" type="hidden" name="cost_of_sales" value="{{product.cost_of_sales}}" readonly />
      <input id="gross_profit_or_loss" type="hidden" name="gross_profit_or_loss"
        value="{{product.gross_profit_or_loss}}" readonly />
      <input id="discontinued" type="hidden" name="discontinued" value="{{product.discontinued}}" readonly />
      <input id="created_on" type="hidden" name="created_on" value="{{product.created_on}}" readonly />
      <input id="updated_on" type="hidden" name="updated_on" value="{{product.updated_on}}" readonly />
      <button class="btn btn-success conclude" type="submit">Conclude Transaction</button><br />
    </fieldset>
  </form>
</div>

<script type="text/javascript">

  const handleInput = () => {

    // Total Cost
    document.getElementById('total_cost').value = Number(document.getElementById('quantity').value) * Number(document.getElementById('unit_cost').value);

    // Insert Product automatically
    document.getElementById('product').value = "{{product.product_name}}";

    // Insert Dates automatically
    document.getElementById('transaction_date').value = Date();
    document.getElementById('updated_on').value = document.getElementById('transaction_date').value;

    // Transactions by User ID
    if (document.getElementById('transaction_type').value == "Purchases")
      document.getElementById('userId').value = "{{product.user_id}}";

    // Unit Cost
    if (document.getElementById('transaction_type').value == "Sales")
      document.getElementById('unit_cost').value = "{{product.retail_price}}";
    if (document.getElementById('transaction_type').value == "Goods Withdrawn")
      document.getElementById('unit_cost').value = "{{product.closing_stock}}" / "{{product.quantity_instock}}";
    if (document.getElementById('transaction_type').value == "Purchases Returns")
      document.getElementById('unit_cost').value = "";
    if (document.getElementById('transaction_type').value == "Sales Returns")
      document.getElementById('unit_cost').value = "";

    // Payment: Issued, Received, or Goods Withdrawn
    if (document.getElementById('transaction_type').value == "Purchases")
      document.getElementById('payment').value = "Issued"
    if (document.getElementById('transaction_type').value == "Sales")
      document.getElementById('payment').value = "Received"
    if (document.getElementById('transaction_type').value == "Goods Withdrawn")
      document.getElementById('payment').value = "None"

    // Creditor, Debtor, Goods Withdrawn
    if (document.getElementById('transaction_type').value == "Purchases")
      document.getElementById('creditor').value = Number(document.getElementById('total_cost').value) - Number(document.getElementById('initial_payment').value);
    if (document.getElementById('transaction_type').value == "Sales")
      document.getElementById('debtor').value = Number(document.getElementById('total_cost').value) - Number(document.getElementById('initial_payment').value);
    if (document.getElementById('transaction_type').value == "Goods Withdrawn")
      document.getElementById('goods_withdrawn').value = Number(document.getElementById('total_cost').value);

    //
    if (document.getElementById('transaction_type').value == "Purchases")
      // Display the field "equity"
      $('#creditor').css('display', 'inline');
    else
      $('#creditor').css('display', 'none');

    if (document.getElementById('transaction_type').value == "Sales")
      // Display the field "fixed_asset"
      $('#debtor').css('display', 'inline');
    else
      $('#debtor').css('display', 'none');

    if (document.getElementById('transaction_type').value == "Goods Withdrawn")
      // Hide the field "payment"
      $('#payment').css('display', 'none');

    if (document.getElementById('transaction_type').value == "Goods Withdrawn")
      // Hide the field "initial_payment"
      $('#initial_payment').css('display', 'none');
  }

  const handleSubmit = () => {
    // Hide the Transaction Form
    $('.transaction').css('display', 'none');
    // Display the Product Form
    $('.product').css('display', 'inline');
  }

  const handleProductSubmit = () => {
    // Quantity Purchased
    if (document.getElementById('transaction_type').value == "Purchases")
      document.getElementById('quantity_purchased').value = Number(document.getElementById('quantity_purchased').value) + Number(document.getElementById('quantity').value);
    if (document.getElementById('transaction_type').value == "Purchases Returns")
      document.getElementById('quantity_purchased').value = Number(document.getElementById('quantity_purchased').value) - Number(document.getElementById('quantity').value);
    if (document.getElementById('transaction_type').value == "Goods Withdrawn")
      document.getElementById('quantity_purchased').value = Number(document.getElementById('quantity_purchased').value) - Number(document.getElementById('quantity').value);

    // Quantity Sold
    if (document.getElementById('transaction_type').value == "Sales")
      document.getElementById('quantity_sold').value = Number(document.getElementById('quantity_sold').value) + Number(document.getElementById('quantity').value);
    if (document.getElementById('transaction_type').value == "Sales Returns")
      document.getElementById('quantity_sold').value = Number(document.getElementById('quantity_sold').value) - Number(document.getElementById('quantity').value);

    // Quantity Instock
    if ((document.getElementById('transaction_type').value == "Purchases") || (document.getElementById('transaction_type').value == "Sales"))
      document.getElementById('quantity_instock').value = Number(document.getElementById('quantity_purchased').value) - Number(document.getElementById('quantity_sold').value);
    if (document.getElementById('transaction_type').value == "Purchases Returns")
      document.getElementById('quantity_instock').value = Number(document.getElementById('quantity_instock').value) - Number(document.getElementById('quantity').value);
    if (document.getElementById('transaction_type').value == "Sales Returns")
      document.getElementById('quantity_instock').value = Number(document.getElementById('quantity_instock').value);

    // Discontinued
    if (document.getElementById('quantity_instock').value == 0)
      document.getElementById('discontinued').value = 'Yes'
    else
      document.getElementById('discontinued').value = 'No'

    // Purchases
    if (document.getElementById('transaction_type').value == "Purchases")
      document.getElementById('net_purchases').value = Number(document.getElementById('net_purchases').value) + Number(document.getElementById('total_cost').value);
    if (document.getElementById('transaction_type').value == "Purchases Returns")
      document.getElementById('net_purchases').value = Number(document.getElementById('net_purchases').value) - Number(document.getElementById('total_cost').value);
    if (document.getElementById('transaction_type').value == "Goods Withdrawn")
      document.getElementById('net_purchases').value = Number(document.getElementById('net_purchases').value) - Number(document.getElementById('total_cost').value);

    // Sales
    if (document.getElementById('transaction_type').value == "Sales")
      document.getElementById('net_sales').value = Number(document.getElementById('net_sales').value) + Number(document.getElementById('total_cost').value);
    if (document.getElementById('transaction_type').value == "Sales Returns")
      document.getElementById('net_sales').value = Number(document.getElementById('net_sales').value) - Number(document.getElementById('total_cost').value);

    // Closing Stock
    if (document.getElementById('transaction_type').value == "Purchases")
      document.getElementById('closing_stock').value = Number(document.getElementById('closing_stock').value) + Number(document.getElementById('total_cost').value);
    if (document.getElementById('transaction_type').value == "Sales")
      document.getElementById('closing_stock').value = Number(document.getElementById('quantity_instock').value) * Number(document.getElementById('closing_stock').value)
        / (Number(document.getElementById('quantity_instock').value) + Number(document.getElementById('quantity').value));
    if (document.getElementById('transaction_type').value == "Goods Withdrawn")
      document.getElementById('closing_stock').value = Number(document.getElementById('closing_stock').value) - Number(document.getElementById('total_cost').value);

    // Cost of Sales
    document.getElementById('cost_of_sales').value = Number(document.getElementById('net_purchases').value) - Number(document.getElementById('closing_stock').value);

    // Gross Profit
    document.getElementById('gross_profit_or_loss').value = Number(document.getElementById('net_sales').value) - Number(document.getElementById('cost_of_sales').value);

    // Hide the Conclude Transaction button
    $('.conclude').css('display', 'none');
  }

</script>