<style>
  body {
    /* Padding to prevent the content to go underneath the header */
    padding-top: 75px;
    font-family: Courier;
  }

  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
  }

  span {
    color: black;
    font-size: 18pt;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
  }

  form {
    flex: 50%;
    text-align: center;
  }

  /* Responsive layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

  legend,
  label,
  h6 {
    color: orange;
    margin-bottom: 0;
  }

  input[type="text"],
  input[type="date"],
  input[type="email"],
  input[type="url"],
  select {
    width: 290px;
    padding: 0.75%;
    margin-bottom: 5px;
    font-size: 12pt;
    border: 1px solid grey;
  }

  .submit {
    width: 290px;
    border: none;
  }
</style>

<div class="flex-container">

  <!-- CUSTOMER FORM -->
  <form class="customer" method="POST" action="/customers" oninput="customerName()" onsubmit="customerForm()">
    <fieldset>
      <legend>Customer</legend><br /><label>Customer Name:</label><br /><input id="customer_name" type="text"
        name="customer_name" required /><br /><label>Country:</label><br /><input id="country" type="text"
        name="country" required /><br /><label>City/Town:</label><br /><input id="city" type="text" name="city"
        required /><br /><label>Street:</label><br /><input id="street" type="text" name="street"
        required /><br /><label>Address:</label><br /><input id="address" type="text" name="address"
        required /><br /><label>Telephone:</label><br /><input id="telephone" type="text" name="telephone"
        required /><br /><label>Email:</label><br /><input id="email" type="email" name="email"
        required /><br /><label>Website: </label><br /><input id="website" type="url" name="website" /><br /><button
        class="btn btn-success submit btn-customer" type="submit" onclick="supplier()">Save</button><br />
      <span id="msg"></span>
    </fieldset>
  </form>

  <!-- TRANSACTION FORM -->
  <form class="transaction" method="POST" action="/transactions" oninput="runTransaction()"
    onsubmit="transactionForm()">
    <fieldset>
      <legend>Transaction</legend><br /><label>Transaction Type:</label><br /><select id="transaction_type"
        name="transaction_type">
        <option value="Purchases">PURCHASES</option>
        <option value="Sales">SALES</option>
        <option value="Drawings">DRAWINGS</option>
        <option value="Purchases Returns">PURCHASES RETURNS</option>
        <option value="Sales Returns">SALES RETURNS</option>
      </select><br /><label>Transaction
        Note:</label><br /><select id="transaction_note" name="transaction_note">
        <option value="cash purchase">cash</option>
        <option value="credit purchase">credit</option>
        <option value="cash sale">private use</option>
      </select><br /><label>Product:</label><br /><input id="product" type="text" name="product"
        readonly /><br /><label>Quantity:
      </label><br /><input id="quantity" type="text" name="quantity" /><br /><label>Unit
        Cost:</label><br /><input id="unit_cost" type="text" name="unit_cost" /><br /><label>Total
        Cost:</label><br /><input id="total_cost" type="text"
        name="total_cost" /><br /><label>Witness:</label><br /><input id="witness" type="text" name="witness"
        readonly /><br /><button class="btn btn-success submit btn-transaction" type="submit">Save</button><br />
    </fieldset>
  </form>

  <!-- PRODUCT FORM -->
  <form method="POST" action="/products" onsubmit="productForm()">
    <input type="hidden" name="_id" value="{{product._id}}">
    <fieldset>
      <legend>Product</legend><br /><label>Supplier Name:</label><br /><input id="supplied_by" type="text"
        name="supplied_by" value="{{product.supplied_by}}" readonly /><br /><label>Product Name:</label><br /><input
        id="product_name" type="text" name="product_name" value="{{product.product_name}}"
        readonly /><br /><label>Category:</label><br /><input id="category" type="text" name="category"
        value="{{product.category}}" readonly /><br /><label>Retail Price:</label><br /><input id="retail_price"
        type="text" name="retail_price" value="{{product.retail_price}}" /><br /><label>Quantity
        Purchased:</label><br /><input id="quantity_purchased" type="text" name="quantity_purchased"
        value="{{product.quantity_purchased}}" readonly /><br /><label>Purchases:</label><br /><input id="purchases"
        type="text" name="purchases" value="{{product.purchases}}" readonly /><br /><label>Quantity
        Sold:</label><br /><input id="quantity_sold" type="text" name="quantity_sold" value="{{product.quantity_sold}}"
        readonly /><br /><label>Sales:</label><br /><input id="sales" type="text" name="sales" value="{{product.sales}}"
        readonly /><br /><label>Quantity Instock:</label><br /><input id="quantity_instock" type="text"
        name="quantity_instock" value="{{product.quantity_instock}}" readonly /><br /><label>Closing Stock:
      </label><br /><input id="closing_stock" type="text" name="closing_stock" value="{{product.closing_stock}}"
        readonly /><br /><label>Cost of Sales: </label><br /><input id="cost_of_sales" type="text" name="cost_of_sales"
        value="{{product.cost_of_sales}}" readonly /><br /><label>Gross Profit:
      </label><br /><input id="gross_profit" type="text" name="gross_profit" value="{{product.gross_profit}}"
        readonly /><br /><label>Discontinued:
      </label><br /><input id="discontinued" type="text" name="discontinued" value="{{product.discontinued}}"
        readonly /><br /><button class="btn btn-success submit btn-product" type="submit">Conclude
        Transaction</button><br />
    </fieldset>
  </form>

</div>

<script type="text/javascript">

  // field witness == field customer_name
  const customerName = () => {
    document.getElementById('witness').value = document.getElementById('customer_name').value;
  }

  // manage transactions
  const runTransaction = () => {
    document.getElementById('product').value = document.getElementById('product_name').value;

    // total_cost
    if (document.getElementById('transaction_type').value == "Sales")
      document.getElementById('total_cost').value = Number(document.getElementById('quantity').value) * Number(document.getElementById('unit_cost').value);

    if (((document.getElementById('transaction_type').value == "Sales") || (document.getElementById('transaction_type').value == "Drawings") || (document.getElementById('transaction_type').value == "Purchases Returns") || (document.getElementById('transaction_type').value == "Sales Returns")) && (document.getElementById('customer_name').value == ""))
      document.getElementById('transaction_type').value = "Purchases";

    // disable the select field
    $('#transaction_type').prop('disabled', true);

    // witness the transaction
    if (document.getElementById('transaction_type').value == "Purchases")
      document.getElementById('witness').value = document.getElementById('supplied_by').value;
    else
      document.getElementById('witness').value = document.getElementById('customer_name').value;

    // unit_cost for transaction
    if (document.getElementById('transaction_type').value == "Sales")
      document.getElementById('unit_cost').value = document.getElementById('retail_price').value;
    else
      document.getElementById('unit_cost').value = document.getElementById('total_cost').value / document.getElementById('quantity').value;
  }

  const productForm = () => {
    // Purchases and Sales -- quantity(quantity_purchased, quantity_sold)
    if (document.getElementById('transaction_type').value == "Purchases")
      document.getElementById('quantity_purchased').value = Number(document.getElementById('quantity_purchased').value) + Number(document.getElementById('quantity').value);
    if (document.getElementById('transaction_type').value == "Sales")
      document.getElementById('quantity_sold').value = Number(document.getElementById('quantity_sold').value) + Number(document.getElementById('quantity').value);
    if (document.getElementById('transaction_type').value == "Purchases Returns")
      document.getElementById('quantity_purchased').value = Number(document.getElementById('quantity_purchased').value) - Number(document.getElementById('quantity').value);
    if (document.getElementById('transaction_type').value == "Sales Returns")
      document.getElementById('quantity_sold').value = Number(document.getElementById('quantity_sold').value) - Number(document.getElementById('quantity').value);
    if (document.getElementById('transaction_type').value == "Drawings")
      document.getElementById('quantity_purchased').value = Number(document.getElementById('quantity_purchased').value) - Number(document.getElementById('quantity').value);

    // Purchases and Sales -- total value(total_cost)
    if (document.getElementById('transaction_type').value == "Purchases")
      document.getElementById('purchases').value = Number(document.getElementById('purchases').value) + Number(document.getElementById('total_cost').value);
    if (document.getElementById('transaction_type').value == "Sales")
      document.getElementById('sales').value = Number(document.getElementById('sales').value) + Number(document.getElementById('total_cost').value);
    if (document.getElementById('transaction_type').value == "Purchases Returns")
      document.getElementById('purchases').value = Number(document.getElementById('purchases').value) - Number(document.getElementById('total_cost').value);
    if (document.getElementById('transaction_type').value == "Sales Returns")
      document.getElementById('sales').value = Number(document.getElementById('sales').value) - Number(document.getElementById('total_cost').value);

    // Drawings
    //if (document.getElementById('transaction_type').value == "Drawings")
    //document.getElementById('purchases').value = Number(document.getElementById('purchases').value) - Number(document.getElementById('total_cost').value);

    // Units Instock
    document.getElementById('quantity_instock').value = Number(document.getElementById('quantity_purchased').value) - Number(document.getElementById('quantity_sold').value);

    // Closing Stock
    if (document.getElementById('transaction_type').value == "Purchases")
      document.getElementById('closing_stock').value = Number(document.getElementById('closing_stock').value) + Number(document.getElementById('total_cost').value);
    if (document.getElementById('transaction_type').value == "Sales")
      document.getElementById('closing_stock').value = Number(document.getElementById('quantity_instock').value) * Number(document.getElementById('closing_stock').value)
        / (Number(document.getElementById('quantity_instock').value) + Number(document.getElementById('quantity').value));

    // Sales Cost
    document.getElementById('cost_of_sales').value = Number(document.getElementById('purchases').value) - Number(document.getElementById('closing_stock').value);

    // Gross Profit
    document.getElementById('gross_profit').value = Number(document.getElementById('sales').value) - Number(document.getElementById('cost_of_sales').value);

    // hide the button
    $('.btn-product').css('display', 'none');
  }

  const customerForm = () => {
    // hide the button
    $('.btn-customer').css('display', 'none');
  }

  const transactionForm = () => {
    // hide the button
    $('.btn-transaction').css('display', 'none');
  }

</script>