<style>
  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
  }

  body {
    /* Padding to prevent the content to go underneath the header */
    padding-top: 75px;
    font-family: Courier;
    background-color: #ebebed;
  }


  span {
    color: blue;
    font-size: 22pt;
    font-weight: bolder;
    font-family: Monotype Corsiva;
  }

  .dropdown-menu {
    border: none;
  }

  a,
  label {
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: condensed;
  }

  .listing-table {
    margin: 0 auto;
  }

  th {
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: condensed;
    width: 140px;
  }

  .search {
    text-align: center;
  }

  input[name='transaction_note'] {
    width: 290px;
    border: none;
    padding-top: 2px;
    padding-bottom: 4px;
  }

  .logout {
    color: white;
    font-size: 12pt;
    margin-left: 24px;
  }

  footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
  }
</style>

<form class="search" action="/transactions/search"><input name="transaction_note"
    placeholder="transaction_note" /><button class="btn btn-white" type="submit">Search</button></form>
<br />
<!-- LIST DEBTORS AND CREDITOR -->
<table class="listing-table table-striped">
  <tr>
    <th>Transaction Type:</th>
    <th>Product:</th>
    <th>Total Cost:</th>
    <th>Payment:</th>
    <th>Initial Payment:</th>
    <th>Balance:</th>
    <th></th>
  </tr>
  {{#each transactions}}
  <tr>
    <th>{{this.transaction_type}}</th>
    <td>{{this.product}}</td>
    <td>{{this.total_cost}}</td>
    <td>{{this.payment}}</td>
    <td>{{this.initial_payment}}</td>
    <td>{{this.balance}}</td>
    <td><a href="/transactions/{{this._id}}"> OPEN </a></td>
  </tr>
  {{/each}}
</table>