<style>
  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
  }

  body {
    /* Padding to prevent the content to go underneath the header */
    padding-top: 75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ebebed;
  }


  span {
    color: #0000FF;
    font-size: 22pt;
    font-weight: lighter;
    font-family: Monotype Corsiva;
  }

  .dropdown-menu {
    border: none;
  }

  a,
  label {
    font-size: 11pt;
  }

  .listing-table {
    margin: 0 auto;
  }

  th {
    width: 170px;
    text-align: justify;
    font-weight: lighter;
  }

  td {
    width: 75px;
    text-align: right;
  }

  form {
    margin: 0 auto;
  }

  input[name='product_name'] {
    width: 247px;
    border: none;
    padding-top: 2px;
    padding-bottom: 4px;
  }

  .logout {
    color: white;
    font-size: 12pt;
    margin-left: 24px;
  }

  footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 12pt;
    text-align: center;
  }
</style>

<!-- SEARCH PRODUCT -->
<table class="listing-table table-striped">
  <tr>
    <form class="search" action="/products/search">
      <td colspan="2"><input name="product_name" placeholder="product name" /></td>
      <td>
        <button class="btn btn-white" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
      </td>
    </form>
  </tr>
  {{#each products}}
  <tr>
    <th><br></th>
    <td><br></td>
    <td><br></td>
  </tr>
  <tr>
    <th style="font-weight: bolder">{{this.product_name}}</th>
    <td><b>Qty:</b></td>
    <td><b>Value:</b></td>
  </tr>
  <tr>
    <th>Purchases</th>
    <td>{{this.quantity_purchased}}</td>
    <td>{{this.net_purchases}}</td>
  </tr>
  <tr>
    <th>Sales</th>
    <td>{{this.quantity_sold}}</td>
    <td>{{this.net_sales}}</td>
  </tr>
  <tr>
    <th>Closing Stock</th>
    <td>{{this.quantity_instock}}</td>
    <td>{{this.closing_stock}}</td>
  </tr>
  <tr>
    <th>Cost of Sales</th>
    <td>{{this.quantity_sold}}</td>
    <td>{{this.cost_of_sales}}</td>
  </tr>
  <tr>
    <th>Gross Profit / Loss</th>
    <td>{{this.quantity_sold}}</td>
    <td>{{this.gross_profit_or_loss}}</td>
  </tr>
  <tr>
    <th><a href="/products/{{this._id}}"> Transact </a>
      {{!-- <a href="/products/delete/{{this._id}}" onclick="return confirm('Sure you want to delete this record?');">
        Delete </a> --}}</th>
    <td></td>
    <td></td>
  </tr>
  {{/each}}
</table>