<style>
  th {
    width: 160px;
    text-align: justify;
    font-weight: lighter;
  }

  td {
    width: 80px;
    text-align: right;
  }

  input[name='product_name'] {
    width: 247px;
    border: none;
    padding-top: 2px;
    padding-bottom: 4px;
  }

  .search {
    border: none;
  }
</style>

<!-- SEARCH PRODUCT -->
<table class="listing-table table-striped">
  <tr>
    <form action="/products/search">
      <td colspan="2">
        <input name="product_name" placeholder="product name" />
      </td>
      <td>
        <button class="search" type="submit">search <i class="fa fa-search" aria-hidden="true"></i></button>
      </td>
    </form>
  </tr>
  {{#each products}}
  <tr>
    <th><br></th>
    <td><br></td>
    <td><br></td>
  </tr>
  <tr>
    <th style="font-weight: bolder">{{this.product_name}}</th>
    <td><b>Qty.{{this.measurement}}</b></td>
    <td><b>USh.</b></td>
  </tr>
  <tr>
    <th>Purchases</th>
    <td>{{this.quantity_purchased}}</td>
    <td>{{this.net_purchases}}</td>
  </tr>
  <tr>
    <th>Sales</th>
    <td>{{this.quantity_sold}}</td>
    <td>{{this.net_sales}}</td>
  </tr>
  <tr>
    <th>Closing Stock</th>
    <td>{{this.quantity_instock}}</td>
    <td>{{this.closing_stock}}</td>
  </tr>
  <tr>
    <th>Cost of Sales</th>
    <td>{{this.quantity_sold}}</td>
    <td>{{this.cost_of_sales}}</td>
  </tr>
  <tr>
    <th>Gross Profit / Loss</th>
    <td>{{this.quantity_sold}}</td>
    <td>{{this.gross_profit_or_loss}}</td>
  </tr>
  <tr>
    <th><a href="/products/{{this._id}}"> Transact </a>
      {{!-- <a href="/products/delete/{{this._id}}" onclick="return confirm('Sure you want to delete this record?');">
        Delete </a> --}}</th>
    <td></td>
    <td></td>
  </tr>
  {{/each}}
</table>