<style>
  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
  }

  body {
    /* Padding to prevent the content to go underneath the header */
    padding-top: 75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ebebed;
  }

  span {
    color: #0000FF;
    font-size: 22pt;
    font-weight: lighter;
    font-family: Monotype Corsiva;
  }

  .dropdown-menu {
    border: none;
  }

  a,
  label {
    font-size: 11pt;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
  }

  form {
    margin: 0 auto;
  }

  legend {
    text-align: center;
    color: grey;
  }

  label {
    color: grey;
    margin-bottom: 0;
  }

  input[type="text"],
  input[type="email"],
  input[type="url"],
  select {
    width: 290px;
    padding: 0.75%;
    margin-bottom: 5px;
    font-size: 14pt;
    border: none;
  }

  .logout {
    border: none;
    font-size: 12pt;
    margin-left: 24px;
  }

  .submit {
    width: 25%;
  }

  /* Responsive layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

  footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 12pt;
    text-align: center;
  }
</style>

<div class="flex-container">
  <!-- SUPPLIER FORM -->
  <form class="supplier" method="POST" action="/suppliers">
    <input type="hidden" name="_id" value="{{supplier._id}}" readonly>
    <fieldset>
      <legend>Supplier</legend><br /><label>Name:</label><br /><input id="name" type="text" name="name"
        value="{{supplier.name}}" readonly /><br /><label>Country:</label><br /><input id="country" type="text"
        name="country" value="{{supplier.country}}" readonly /><br /><label>City/Town:</label><br /><input id="city"
        type="text" name="city" value="{{supplier.city}}" readonly /><br /><label>Street:</label><br /><input
        id="street" type="text" name="street" value="{{supplier.street}}"
        readonly /><br /><label>Address:</label><br /><input id="address" type="text" name="address"
        value="{{supplier.address}}" readonly /><br /><label>Telephone:</label><br /><input id="telephone" type="text"
        name="telephone" value="{{supplier.telephone}}" readonly /><br /><label>Email:</label><br /><input id="email"
        type="email" name="email" value="{{supplier.email}}" readonly /><br /><label>Website: </label><br /><input
        id="website" type="url" name="website" value="{{supplier.website}}" readonly /><br />
    </fieldset>
  </form>

  <!-- PRODUCT FORM -->
  <form class="product" method="POST" action="/products" onsubmit="submitProduct()">
    <input type="hidden" name="_id">
    <fieldset>
      <legend>Product Details</legend><input id="user_id" type="hidden" name="user_id" readonly /><br /><label>Product
        Name:</label><br /><input id="product_name" type="text"
        name="product_name" /><br /><label>Category:</label><br /><input id="category" type="text"
        name="category" /><br /><label>Proposed Retail Price:</label><br /><input id="retail_price" type="text"
        name="retail_price" /><br /><label>Discontinued:</label><br /><input id="discontinued" type="text"
        name="discontinued" value="Yes" readonly /><input id="created_on" type="hidden" name="created_on"
        readonly /><br /><button class="btn btn-success submit" type="submit">
        Save <i class="fa fa-save"></i></button><br />
    </fieldset>
  </form>
</div>

<script type="text/javascript">

  const submitProduct = () => {
    // user_id == supplier._id
    document.getElementById('user_id').value = "{{supplier._id}}";
    // Insert Date automatically
    document.getElementById('created_on').value = Date();
  }

</script>