<style>
  th {
    width: 100px;
  }

  td {
    width: 220px;
    text-align: left;
  }
</style>

<!-- LIST SUPPLIERS -->
<table class="listing-table table-striped">
  <tr>
    <th colspan="2">SUPPLIERS</th>
  </tr>
  {{#each suppliers}}
  <tr>
    <th><br></th>
    <td><br></td>
  </tr>
  <tr>
    <th>Name:</th>
    <td>{{this.name}}</td>
  </tr>
  <tr>
    <th>Country:</th>
    <td>{{this.country}}</td>
  </tr>
  <tr>
    <th>City:</th>
    <td>{{this.city}}</td>
  </tr>
  <tr>
    <th>Street:</th>
    <td>{{this.street}}</td>
  </tr>
  <tr>
    <th>Address:</th>
    <td>{{this.address}}</td>
  </tr>
  <tr>
    <th>Telephone:</th>
    <td>{{this.telephone}}</td>
  </tr>
  <tr>
    <th>Email:</th>
    <td>{{this.email}}</td>
  </tr>
  <tr>
    <th>Website:</th>
    <td>{{this.website}}</td>
  </tr>
  <tr>
    <th></th>
    <td>
      <a href="/suppliers/{{this._id}}"> Open </a>
    </td>
  </tr>
  {{/each}}
</table>