<style>
  .supplier {
    display: none;
  }

  .product {
    display: inline;
  }
</style>

<div class="flex-container">
  <!-- SUPPLIER FORM -->
  <form class="supplier" method="POST" action="/suppliers/new">
    <input type="hidden" name="_id" value="{{supplier._id}}" readonly>
    <fieldset>
      <legend>Supplier</legend><br />
      <label>Name:</label><br />
      <input id="name" type="text" name="name" value="{{supplier.name}}" readonly /><br />
      <label>Country:</label><br />
      <input id="country" type="text" name="country" value="{{supplier.country}}" readonly /><br />
      <label>City/Town:</label><br />
      <input id="city" type="text" name="city" value="{{supplier.city}}" readonly /><br />
      <label>Street:</label><br />
      <input id="street" type="text" name="street" value="{{supplier.street}}" readonly /><br />
      <label>Address:</label><br />
      <input id="address" type="text" name="address" value="{{supplier.address}}" readonly /><br />
      <label>Telephone:</label><br />
      <input id="telephone" type="text" name="telephone" value="{{supplier.telephone}}" readonly /><br />
      <label>Email:</label><br />
      <input id="email" type="email" name="email" value="{{supplier.email}}" readonly /><br />
      <label>Website:</label><br />
      <input id="website" type="url" name="website" value="{{supplier.website}}" readonly /><br />
    </fieldset>
  </form>

  <!-- UPLOAD PRODUCT -->
  <form class="upload" method="POST" action="/uploads" enctype='multipart/form-data'>
    <legend>Product Details</legend><br />
    <label>Photo:</label><br />
    <input id="photo" type="file" name="photo" /><br /><br />
    <button class="btn btn-success" type="submit">Upload <i class="fa fa-upload"></i></button><br />
  </form>

  <!-- PRODUCT FORM -->
  <form class="product" method="POST" action="/products/new" oninput="handleInput()" onsubmit="handleSubmit()">
    <fieldset><br /><br />
      <input id="user_id" type="hidden" name="user_id" readonly /><br />
      <input id="file_name" type="hidden" name="file_name" />
      <label>Product Name:</label><br />
      <input id="product_name" type="text" name="product_name" /><br />
      <label>Category:</label><br />
      <select id="category" name="category" required>
        {{#each items.category}}
        <option class="select-option" value="">Select ...</option>
        <option value={{this}}>{{this}}</option>
        {{/each}}
      </select><br />
      <input id="measurement" type="hidden" name="measurement" />
      <label>Proposed Retail Price:</label><br />
      <input id="retail_price" type="text" name="retail_price" />
      <p class="retailPrice"></p>
      <label>Discontinued:</label><br />
      <input id="discontinued" type="text" name="discontinued" value="Yes" readonly />
      <input id="created_on" type="hidden" name="created_on" readonly /><br />
      <button class="btn btn-success submit" type="submit">Save <i class="fa fa-save"></i></button><br />
    </fieldset>
  </form>
</div>

<script type="text/javascript">

  const handleInput = () => {
    const fileName = document.getElementById('photo').value;
    document.getElementById('file_name').value = fileName.substring(12);

    if (document.getElementById('category').value == "Poultry")
      document.getElementById('measurement').value = '';
    else
      document.getElementById('measurement').value = '/Kg';

    // FORMAT NUMBER AND DISPLAY AS CURRENCY
    var retailPrice = new Intl.NumberFormat('en-UG', {
      style: 'currency',
      currency: 'UGX',
      minimumFractionDigits: 2
    });
    document.querySelector('.retailPrice').textContent = retailPrice.format(document.getElementById('retail_price').value);
  }

  const handleSubmit = () => {
    // user_id == supplier._id
    document.getElementById('user_id').value = "{{supplier._id}}";
    // Insert Date automatically
    document.getElementById('created_on').value = Date();
    // Hide the submit button
    $('.submit').css('display', 'none');
  }

</script>