<style>
  .navbar {
    display: none;
  }
</style>

<!-- TRADING AND PROFIT AND LOSS ACCOUNT -->
<table class="listing-table table-striped">
  {{#each products}}
  <tr>
    <th colspan="2">TRADING AND PROFIT AND LOSS ACCOUNT</th>
  </tr>
  <tr>
    <th>Net Purchases:</th>
    <td>{{this.net_purchases}}</td>
  </tr>
  <tr>
    <th>Net Sales:</th>
    <td>{{this.net_sales}}</td>
  </tr>
  <tr>
    <th>Closing Stock:</th>
    <td>{{this.closing_stock}}</td>
  </tr>
  <tr>
    <th>Cost of Sales:</th>
    <td>{{this.cost_of_sales}}</td>
  </tr>
  <tr>
    <th>Gross Profit or Loss:</th>
    <td>{{this.gross_profit_or_loss}}</td>
  </tr>
  {{/each}}
</table>