<style>
  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
  }

  body {
    /* Padding to prevent the content to go underneath the header */
    padding-top: 75px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ebebed;
  }


  span {
    color: blue;
    font-size: 22pt;
    font-weight: bolder;
    font-family: Monotype Corsiva;
  }

  .dropdown-menu {
    border: none;
  }

  a,
  label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
  }

  .listing-table {
    margin: 0 auto;
  }

  th {
    text-align: center;
  }

  td {
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: condensed;
    width: 160px;
  }

  .logout {
    color: white;
    font-size: 12pt;
    margin-left: 24px;
  }

  footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 10pt;
    text-align: center;
  }
</style>

<!-- TRADING REPORT -->
<table class="listing-table table-striped">
  {{#each products}}
  <tr>
    <th colspan="2">TRADING, PROFIT AND LOSS ACCOUNT</th>
  </tr>
  <tr>
    <td>Net Purchases:</td>
    <td>{{this.net_purchases}}</td>
  </tr>
  <tr>
    <td>Net Sales:</td>
    <td>{{this.net_sales}}</td>
  </tr>
  <tr>
    <td>Closing Stock:</td>
    <td>{{this.closing_stock}}</td>
  </tr>
  <tr>
    <td>Cost of Sales:</td>
    <td>{{this.cost_of_sales}}</td>
  </tr>
  <tr>
    <td>Gross Profit:</td>
    <td>{{this.gross_profit_or_loss}}</td>
  </tr>
  <tr>
    <td>Net Cash:</td>
    <td>{{this.net_cash}}</td>
  </tr>
  {{/each}}
</table>