<style>
  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
  }

  body {
    /* Padding to prevent the content to go underneath the header */
    padding-top: 75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ebebed;
  }


  span {
    color: #0000FF;
    font-size: 22pt;
    font-weight: lighter;
    font-family: Monotype Corsiva;
  }

  .dropdown-menu {
    border: none;
  }

  a,
  label {
    font-size: 11pt;
  }

  .listing-table {
    margin: 0 auto;
  }

  th {
    width: 160px;
    text-align: left;
    font-weight: lighter;
  }

  td {
    width: 160px;
    text-align: right;
  }

  .logout {
    border: none;
    font-size: 12pt;
    margin-left: 24px;
  }

  footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 12pt;
    text-align: center;
  }
</style>

<!-- TRADING AND PROFIT AND LOSS ACCOUNT -->
<table class="listing-table table-striped">
  {{#each products}}
  <tr>
    <th colspan="2">TRADING AND PROFIT AND LOSS ACCOUNT</th>
  </tr>
  <tr>
    <th>Net Purchases:</th>
    <td>{{this.net_purchases}}</td>
  </tr>
  <tr>
    <th>Net Sales:</th>
    <td>{{this.net_sales}}</td>
  </tr>
  <tr>
    <th>Closing Stock:</th>
    <td>{{this.closing_stock}}</td>
  </tr>
  <tr>
    <th>Cost of Sales:</th>
    <td>{{this.cost_of_sales}}</td>
  </tr>
  <tr>
    <th>Gross Profit or Loss:</th>
    <td>{{this.gross_profit_or_loss}}</td>
  </tr>
  {{/each}}
</table>